# Configuration globale de Prometheus
global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: 'biblio-project'
    environment: 'development'

# Configuration des jobs de collecte (scraping)
scrape_configs:

  # Job 1: Discovery Service
  - job_name: 'discovery-service'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['discovery-doc:8761']
        labels:
          service: 'discovery'
          type: 'infrastructure'

  # Job 2: Config Service
  - job_name: 'config-service'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['config-doc:9999']
        labels:
          service: 'config'
          type: 'infrastructure'

  # Job 3: Gateway Service
  - job_name: 'gateway-service'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['gateway-doc:8888']
        labels:
          service: 'gateway'
          type: 'infrastructure'

  # Job 4: doctor Service
  - job_name: 'doctor-service'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['doctor-doc:8082']
        labels:
          service: 'doctor'
          type: 'business'

  # Job 5: patient Service
  - job_name: 'patient-service'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['patient-doc:8081']
        labels:
          service: 'patient'
          type: 'business'

  # Job 6: rdv Service
  - job_name: 'rdv-service'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['rdv-doc:8083']
        labels:
          service: 'rdv'
          type: 'business'

  # Job 7: Auto-monitoring de Prometheus
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']